<template>
<div class="container">
  <div id="cardbody" class="mt-5 card card-body">
  <h1>Add list</h1>
<form @submit.prevent="addList">
  <div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" v-model="name" class="form-control" id="Name" aria-describedby="Name">
  </div>
  <div class="mb-3">
    <label for="Name" class="form-label">Description</label>
    <input type="text" v-model="description" class="form-control" id="Description" aria-describedby="Description">
  </div>
  
  <button type="submit" class="btn btn-primary">Create List</button>
</form>
</div>
</div>
</template>


<script setup>

//Imports 
import {onMounted, ref} from "vue";
import axios from "axios"
import { useRouter } from "vue-router";
import { URL } from "../Storage/Storage";

//Consts
const url=URL();
const url2=url.url;
const router=useRouter();
const name= ref('');
const description=ref('');



//Functions 


  //Add a list with axios
    const addList = async () =>{

        axios.post(`${url2}/createlist`,{

            name: name.value,
            userId:url.uid,
            description:description.value
        


        }).then(function(response){

            router.push(`/lists/${url.uid}`);

        })


    }

</script>