<template>
  <div class="container w-50 mb-3 mt-5">
    <h1>Add Songs</h1>

    <form @submit.prevent="addSongs">
      <label for="song" class="form-label">Songs</label>
      <select id="song" v-model="song" class="form-control">
        <option v-for="song in songs" :key="song.id" :value="song.id">
          {{ song.songname }}
        </option>
      </select>
      <input class="btn btn-primary mt-3" type="submit" value="Add Songs" />
    </form>
  </div>
</template>

<script setup>

//Imports 

import axios from "axios";
import { useRoute, useRouter } from "vue-router";
import { onMounted } from "vue-demi";
import { URL } from "../Storage/Storage";
import { ref } from "vue";

//Consts 

const route = useRoute();
const router = useRouter();
const listId = route.params.id;
const url = URL();
const url2 = url.url;
const uid = url.uid;
const songs = ref([]);
const song = ref("");


//Functions

//Get all the songs
const getSongs = async () => {
  axios.get(`${url2}/songs`).then((response) => {
    songs.value = response.data;
  });
};

//Add songs with axios
const addSongs = async () => {
  axios
    .post(`${url2}/addSongs`, {
      listId: listId,
      songId: song.value,
    })
    .then(function (response) {
      router.push(`/lists/${uid}`);
    });
};

//Define which function use where we load the page
onMounted(async () => {
  getSongs();
});
</script>
