<template>
  
  <div class="container mt-5 w-50">
    <h1>Your Song's List</h1>
    <router-link class="btn btn-primary mb-3 mt-3" to="/createlist">Add list</router-link>
    
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Management</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="list in lists" v-bind:key="list.id">
                <th scope="row">{{ list.id }}</th>
                <td>{{ list.name }}</td>
                <td>
                <router-link class="btn btn-success" :to="`/addSongs/${list.id}`">Add Songs</router-link>
                <router-link class="btn btn-primary" :to="`/list/${list.id}`">View List</router-link>
                <button class="btn btn-danger " @click="deleteList(list.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 class="mt-5 text-center" v-if="lists == ''">No lists found</h2>
      </div>
    </div>
  </div>
</template>


<script setup>
//Imports

import { onMounted, ref } from "vue";
import axios from "axios";
import { URL } from "../Storage/Storage";
import { useRoute } from "vue-router";

//Consts 

const route=useRoute();
const url=URL();
const url2=url.url;
const lists = ref([]);
const useremail=url.useremail;
const id=ref('');
id.value=route.params.id;


//Functions 

//Get all the lists by user

const getLists=async () => {



  axios.get(`${url2}/lists/${id.value}`).then((response) => {
     lists.value = response.data;
     
  });
}

//Define which function use where we load the page

onMounted(async () => {

  getLists();

})

//Delete list with axios

const deleteList = (id) => {
  axios.post(`${url2}/deletelist/${id}`).then((response) => {

    getLists();
    
  });
};
</script>
