<template>
  <div class="mt-5">
    <h1>{{list.name}}</h1>
    <h3>Description: {{list.description}}</h3>
    <h3>Songs:</h3>
    <Song v-for="song in list.songs" :key="song.songId" :songid="song.songId" >{{song.songId}}</Song>
  </div>
</template>


<script setup>

//Imports
import axios from 'axios';
import { useRoute } from 'vue-router';
import { onMounted, ref } from 'vue';
import { URL } from '../Storage/Storage';
import Song from './Song.vue';


//Consts
const route=useRoute();
const id=route.params.id;
const url=URL();
const url2=url.url;
const songid=ref('');
const songname=ref('');
const list=ref([]);


//Functions
const getList= () =>{

    axios.get(`${url2}/list/${id}`).then((response)=>{


        list.value=response.data;

        
    })



}

//Define which function use where we load the page

onMounted(async () => {

    getList();
    getName();
    

})


</script>
