<template>

<div class="container w-75">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>SongName</th>
                <th>Genre</th>
                <th>AuthorName</th>
            </tr>
        </thead>
        <tbody>
            <td>{{songs.songname}}</td>
            <td>{{songs.genre}}</td>
            <td>{{songs.authorName}}</td>
        </tbody>
    </table>
</div>

</template>

<script setup>

//Imports
import axios from 'axios';
import { onMounted } from 'vue';
import { URL } from '../Storage/Storage';
import { ref } from 'vue';


//Consts
const url=URL();
const url2=url.url;
const songs=ref([]);


//Functions
const props= defineProps({

    songid:{

            required:true,
            type:Number,
    }


})



const getSong= async () =>{

    axios.get(`${url2}/song/${props.songid}`).then((response)=>{

        songs.value=response.data;

    })


}



//Define which function use where we load the page

onMounted(async () => {

    getSong();

})

</script>