
<template>
<div class="container">
  <div id="cardbody" class="mt-5 card card-body">
  <h1>Add Song</h1>
<form @submit.prevent="addSong">
  <div class="mb-3">
    <label for="Song" class="form-label">Song</label>
    <input type="text" v-model="song" class="form-control" id="song" aria-describedby="Song">
  </div>
  <div class="mb-3">
    <label for="Genre" class="form-label">Genre</label>
    <input type="text" v-model="genre" class="form-control" id="Genre">
  </div>
  <div class="mb-3">
    <label for="Singer" class="form-label">Singer</label>
    <select  v-model="authorName" class="form-control" id="Singer">
      <option v-for="singer in singers" :key="singer.id">{{singer.name}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Create Song</button>
</form>
</div>
</div>
</template>


<script setup>

//Imports

import {onMounted, ref} from "vue";
import axios from "axios"
import { useRouter } from "vue-router";
import { URL } from "../Storage/Storage";

//Consts 

const url=URL();
const url2=url.url;
const router=useRouter();
const song= ref('');
const authorName=ref('');
const genre=ref('');
const singers=ref([]);


//Get all the singers

const getSingers= async () => {

  axios.get(`${url2}/singers`).then((response)=>{

      singers.value=response.data;


  })
}


//Add song with axios

    const addSong = async () =>{

        
        axios.post(`${url2}/createsong`,{

            songname:song.value,
            genre:genre.value,
            authorName:authorName.value,


        }).then(function(response){

            router.push('/songs');
            

        })
    }
    //Define which function use where we load the page
onMounted(async () => {

  getSingers();

})

</script>