<template>

<div class="container w-50">
  <div id="cardbody" class="mt-5 card card-body">
  <h1>Edit Song</h1>
<form @submit.prevent="editSong">
  <div class="mb-3">
    <label for="Song" class="form-label text-black">Song</label>
    <input type="text" v-model="song" class="form-control" id="Song" aria-describedby="Song">
  </div>
  <div class="mb-3">
    <label for="Genre" class="form-label text-black">Genre</label>
    <input type="text" v-model="genre" class="form-control" id="Genre">
  </div>
  <div class="mb-3">
    <label for="Author" class="form-label text-black">Author</label>
    <input type="text" v-model="author" class="form-control" id="Author">
  </div>
  <button type="submit" class="btn btn-primary">Edit Song</button>
</form>
</div>
</div>
 
</template>

<script setup>
//Imports
import axios from "axios";
import { onMounted, ref } from "vue";
import { useRoute,useRouter } from "vue-router";
import { URL } from "../Storage/Storage";

//Consts

const url=URL();
const url2=url.url;
const router = useRoute();
const router1=useRouter();
const id = router.params.id;
const song=ref('');
const author= ref('');
const genre= ref('');


//Functions 

//Get all the songs

async function getSong() {
  await axios.get(`${url2}/song/${id}`).then(function (response) {

      song.value=response.data.songname;
      author.value=response.data.authorName;
      genre.value=response.data.genre;

      


  });
}

//Edit song with axios

const editSong = () => {

    axios.post(`${url2}/updatesong/${id}`,{

        songname: song.value,
        genre: genre.value,
        authorName:author.value


    }).then((response) =>{

        router1.push('/songs');

    })


} 

//Define which function use where we load the page
onMounted(async () => {
  await getSong();
});
</script>
