<template>
  
  <div class="container mt-5">
    <h1>Songs</h1>
    <router-link class="btn btn-primary mb-3 mt-3" to="/addSong">Add Song</router-link>
    
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Song</th>
                <th>Genre</th>
                <th>Author</th>
                <th>Management</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="song in songs" v-bind:key="song.id">
                <th scope="row">{{ song.id }}</th>
                <td>{{ song.songname }}</td>
                <td>{{ song.genre }}</td>
                <td>{{ song.authorName }}</td>
                <td>
                  <router-link class="btn btn-warning text-black" :to="`/songs/editsong/${song.id}`">Edit</router-link>
                <button class="btn btn-danger text-black" @click="deleteSong(song.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 class="mt-5 text-center" v-if="songs == ''">No songs found</h2>
      </div>
    </div>
  </div>
</template>


<script setup>

//Imports 

import { onMounted, ref } from "vue";
import axios from "axios";
import { URL } from "../Storage/Storage";


//Consts 

const url=URL();
const url2=url.url;
const songs = ref([]);


//Functions 

//Get all the songs
const getSongs = async () => {
  axios.get(`${url2}/songs`).then((response) => {
    songs.value = response.data;
  });
};


//Delete song by id
const deleteSong = (id) => {
  axios.post(`${url2}/deletesong/${id}`).then((response) => {

    getSongs();
  });
};

//Define which function use where we load the page
onMounted(async () => {
  getSongs();
});

</script>
