@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lora:wght@600&family=Montserrat:wght@500&family=Oswald:wght@200&family=Roboto+Condensed:wght@300&family=Work+Sans:wght@300&display=swap');
*{

font-family: 'Arvo', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Work Sans', sans-serif;

}
