<template>
  <div>
    <Nav/>
  </div>
  
</template>

<script setup>


//Imports 
import Nav from './components/views/Nav.vue';

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


a{

  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-right: 1em;


}

.page{

  position: absolute;
  top:30px;

}

a:hover,
a.router-link-active{

  border-bottom: 2px solid blue;

}

.fade-enter-from,
.fade-leave-to{

  opacity:0;

}

.fade-enter-active,
.fade-leave-active{

  transition: opacity 0.5s ease-out;
}
</style> 

