<template>
  <div class="container w-50">
    <div id="cardbody" class="mt-5 card card-body">
      <h1>Add Singer</h1>
      <form @submit.prevent="addSinger">
        <div class="mb-3">
          <label for="Name" class="form-label text-black">Name</label>
          <input type="text" v-model="name" class="form-control" id="Song" aria-describedby="Name"
          />
        </div>
        <div class="mb-3">
          <label for="Name" class="form-label text-black">Age</label>
          <input type="number" v-model="age" class="form-control" id="Age" />
        </div>

        <button type="submit" class="btn btn-primary">Add Singer</button>
      </form>
    </div>
  </div>
</template>

<script setup>

//Imports 

import { ref } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";
import { URL } from "../Storage/Storage";

//Consts 

const url=URL();
const url2=url.url;
const router = useRouter();
const name = ref("");
const age = ref("");


//Functions

//Add a singer with axios
const addSinger = async () => {
  axios
    .post(`${url2}/createsinger`, {
      name: name.value,
      age: age.value,
    })
    .then(function (response) {
      router.push("/singers");
    });
};
</script>
