<template>
<div class="container w-50">
  <div id="cardbody" class="mt-5 card card-body">
  <h1>Edit Singer</h1>
<form @submit.prevent="editSinger">
  <div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" v-model="name" class="form-control" id="Name" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="Age" class="form-label">Email</label>
    <input type="number" v-model="age" class="form-control" id="Age">
  </div>
  <button type="submit" class="btn btn-primary">Edit Singer</button>
</form>
</div>
</div>
</template>

<script setup>
//Imports
import axios from "axios";
import { onMounted, ref } from "vue";
import { useRoute,useRouter } from "vue-router";
import { URL } from "../Storage/Storage";

//Consts

const url=URL();
const url2=url.url;
const router = useRoute();
const router1 = useRouter();
const id = router.params.id;
const name=ref('');
const age=ref('');


//Functions 

//Get all singers

async function getSinger() {
  await axios
    .get(`${url2}/singer/${id}`)
    .then(function (response) {
      name.value = response.data.name;
      age.value = response.data.age;
    });
}


const editSinger = async () => {
   
   

   axios
    .post(`${url2}/updateSinger/${id}`, {

      name:name.value,
      age:age.value,
    })
    .then(function(response) {

      router1.push('/Singers');
    });

}

//Define which function use where we load the page
onMounted(async () => {
  await getSinger();
});




  
</script>