<template>
  
  <div class="container mt-5">
    <h1>Singers</h1>
    <router-link class="btn btn-primary mt-3 mb-3" to="/addSinger">Add Singer</router-link>
    
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Management</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="singer in singers" v-bind:key="singer.id">
                <th scope="row">{{ singer.id }}</th>
                <td>{{ singer.name }}</td>
                <td>{{ singer.age }}</td>
                <td>
                <router-link class="btn btn-warning text-black" :to="`/singers/editsinger/${singer.id}`" style="text-decoration: none; color: black">Edit</router-link>
                <button class="btn btn-danger text-black"  @click="deletesinger(singer.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 class="mt-5 text-center" v-if="singers == ''">No singers found</h2>
      </div>
    </div>
  </div>
</template>


<script setup>

//Imports 
import { onMounted, ref } from "vue";
import axios from "axios";
import { URL } from "../Storage/Storage";


//Consts

const url=URL();
const url2=url.url;
const singers = ref([]);


//Functions 

//Get all the singers
const getsingers = async () => {
  axios.get(`${url2}/singers`).then((response) => {
    singers.value = response.data;
  });
};


//Delete a singer by id

const deletesinger = (id) => {
  axios.post(`${url2}/deletesinger/${id}`).then((response) => {

    getsingers();
    
  });
};

//Define which function use where we load the page
onMounted(async () => {
  getsingers();
});
</script>
