<template>
<div class="container w-50">
  <div id="cardbody" class="mt-5 card card-body">
  <h1>Edit User</h1>
<form @submit.prevent="editUser">
  <div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" v-model="username" class="form-control" required id="Name" aria-describedby="Name">
  </div>
  <button type="submit" class="btn btn-primary">Edit User</button>
</form>
<div v-if="errMsg" class="alert alert-danger mt-3" role="alert">
  <p>{{errMsg}}</p>
</div>
</div>
</div>
</template>

<script setup>
//Imports
import axios from "axios";
import { onMounted, ref } from "vue";
import { useRoute,useRouter } from "vue-router";
import { URL } from "../Storage/Storage";

//Consts 

const url=URL();
const url2=url.url;
const router = useRoute();
const router1 = useRouter();
const id = router.params.id;
const username = ref('');
const errMsg=ref('');


//Functions 

//Get all the users

async function getUser() {
  await axios
    .get(`${url2}/user/${id}`)
    .then(function (response) {
      username.value = response.data.name;
      
    })

    
}


//Edit user by id

const editUser = async () => {
   

   axios
    .post(`${url2}/updateuser/${id}`, {

      name: username.value,
    })
    .then(function(response) {


      router1.push('/users');
    });

}

//Define which function use where we load the page
onMounted(async () => {
  await getUser();
});
  
</script>
