<template>
  <div class="container mt-5">

     
    <h1>Users</h1>
   <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Management</th>
              </tr>
            </thead>
            <tbody>
              
              <tr v-for="user in data" v-bind:key="user.id">
                <th>{{ user.id }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>
                <router-link class="btn btn-warning text-black" :to="'/users/edituser/' + user.id">Edit</router-link>
                <button class="btn btn-danger text-black"  @click="deleteUser(user.id)">Delete User</button>
                </td>
              </tr>
            </tbody>
          </table>
         
        </div>
         <h2 class="mt-5 text-center" v-if="data == ''">No users found</h2>
      </div>
    </div>
  </div>
</template>

<script setup>

//Imports 

import axios from "axios";
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import { URL} from "../Storage/Storage";

//Consts 

const router = useRouter();
const data = ref([]);
const url=URL();
const url2=url.url;


//Functions 

const getUser = () => {
  axios.get(`${url2}/users`).then(function (response) {
    data.value=response.data;
  });
};

//Delete user by id
const deleteUser = (id) => {
  
  axios
    .post(`${url2}/deleteuser/${id}`)
    .then(function (response) {
  
      router.push("/users");
      getUser();
  
    });
};


//Define which function use where we load the page
onMounted(async () => {
  getUser();
});
</script>

