<template>
    <div>
        <h1 class="mt-5">Welcome to Mini Spotify</h1>
        <h4 class="mt-3">The page where can make your own lists!</h4>


        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <h2 class="text-success">Create an account</h2>
                <p>If you dont have an account you can create one doing click on the link below</p>
                <router-link to="/register">Click me to make an account on Mini Spotify</router-link>

            </div>
           
            <div class="feature col">
                <h2 class="text-success" >Login in Mini Spotify</h2>
                <p>Are you already registered? Click here to login and enjoy our service!</p>
                <router-link to="/login">Click me to log in in mini Spotify</router-link>

            </div>

            <div class="feature col">
                <h2>About Us</h2>
                <p>We are a little enterprise in Fuerteventura which objective is change music apps</p>

            </div>


        </div>
    </div>
</template>

<script setup>
</script>