<template>
  <div class="container w-50">
    <div id="cardbody" class="mt-5 card card-body">
      <h1 class="text-black">Sign In</h1>
      <form @submit.prevent="login">
        <div class="mb-3">
          <label for="Email" class="form-label text-black">Email</label>
          <input
            type="email"
            v-model="email"
            class="form-control"
            id="Email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label text-black">Password</label>
          <input
            type="password"
            v-model="password"
            class="form-control"
            id="Password"
          />
        </div>
        <button type="submit" class="btn btn-dark">Log In</button>
      </form>
      <div v-if="errMsg" class="alert alert-danger mt-3" role="alert">
        <p>{{ errMsg }}</p>
      </div>
    </div>
  </div>
</template>

<script setup>
//Imports

import { ref } from "vue";
import axios from "axios";
import { getAuth, signInWithEmailAndPassword } from "firebase/auth";
import { useRouter } from "vue-router";
import { URL } from "../Storage/Storage";

//Consts

const url = URL();
const url2 = url.url;
const isAdmin = url.isAdmin;
const router = useRouter();
const email = ref("");
const password = ref("");
const errMsg = ref(null);

//Functions

//Login with Firebase 

const login = () => {
  signInWithEmailAndPassword(getAuth(), email.value, password.value)
    .then((data) => {
      //Checkeo si el usuario es admin o no
      axios.get(`${url2}/useremail/${email.value}`).then((response) => {
        url.uid = response.data.id;
        url.isAdmin = response.data.isAdmin;
        url.useremail = email.value;
      });

      router.push("/");
    })

    .catch((error) => {
     
      switch (error.code) {
        case "auth/invalid-email":
          errMsg.value = "Invalid email";
          break;
        case "auth/user-not-found":
          errMsg.value = "No account with that email was found";
          break;
        case "auth/wrong-password":
          errMsg.value = "Incorrect password";
          break;
      }
    });
};
</script>

<style scoped>
#cardbody {
  background: rgb(7, 245, 255);
  background: linear-gradient(
    90deg,
    rgba(7, 245, 255, 1) 0%,
    rgba(30, 86, 205, 1) 44%,
    rgba(171, 1, 255, 1) 100%
  );
}
</style>
