<template>
<div>
    <nav class=" bg-dark text-white justify-content-between navbar p-3">
        <div class=" text-white d-flex flex-row">
        <div class="col col-md-4 ms-5">
            <router-link class="text-white" to="/">Home</router-link>
            <router-link v-if="isLoggedIn" class="text-white" :to="`/lists/${url.uid}`">Lists</router-link>
        </div>
        <div class="justify-content-between" v-if="url.isAdmin">
            <router-link class="text-white" to="/users">Users</router-link>
            <router-link class="text-white" to="/songs">Songs</router-link>
            <router-link class="text-white" to="singers">Singers</router-link>
        </div>
        </div>
    <div class="d-flex">
    <button class="col btn btn-danger me-5" @click="handleSignOut" v-if="isLoggedIn">Sign Out</button>
    <div v-else>
    <router-link class="col col-md-3 mx-1 text-white" to="/register">Register</router-link >
    <router-link  class="col col-md-3 mx-1 text-white" to="/login">Login</router-link>
    </div>
    </div>
    </nav>
<router-view class="content" v-slot="{Component}">
      <transition
        enter-active-class="animate__animated animate__fadeInLeft" 
        leave-active-class="animate__animated animate__fadeOutLeft"
        mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>
</div>

</template>

<script setup>

//Imports 
import { getAuth,onAuthStateChanged,signOut } from '@firebase/auth';
import axios from 'axios';
import { onMounted,ref } from 'vue';
import { useRouter } from 'vue-router';
import { URL } from '../Storage/Storage';


//Consts

let auth;
const url=URL();
const url2=url.url;
const router= useRouter();
const isLoggedIn=ref(false);

//Functions

const handleSignOut= () => {

  signOut(auth).then(() => {

    url.useremail='';
    url.isAdmin=false;
    url.uid=null;
    url.username='';
    router.push("/");
    

  })


}



//Define which function use where we load the page
onMounted(() => {

  auth = getAuth();
  onAuthStateChanged(auth, (user) => {

    if(user) {

      isLoggedIn.value= true;

    }else{
      isLoggedIn.value=false;

    }
    
  });

})


</script>