<template>
<div class="container w-50">
  <div id="cardbody" class="mt-5 card card-body">
    <h1 class="text-black">Create an account</h1>
    <form @submit.prevent="register">
      <div class="mb-3">
    <label for="Name" class="form-label text-black" >Name</label>
    <input type="name" v-model="name" class="form-control" required id="Name">
  </div>
  <div class="mb-3">
    <label for="Email" class="form-label text-black">Email</label>
    <input type="email" v-model="email" class="form-control" id="Email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="Password" class="form-label text-black">Password</label>
    <input type="password" v-model="password" class="form-control" id="Password">
  </div>
  <button type="submit" class="btn btn-dark">Create Account</button>
</form>
<div v-if="errMsg" class="alert alert-danger mt-3" role="alert">
  <p>{{errMsg}}</p>
</div>
  </div>
  </div>
</template>

<script setup>

//Imports 

import { useRouter } from "vue-router";
import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";
import { ref } from "vue";
import { URL } from "../Storage/Storage";
import axios from "axios";

//Consts 

const url=URL();
const url2=url.url;
const auth = getAuth();
const name=ref('');
const email = ref("");
const password = ref("");
const errMsg = ref();
const router = useRouter();


//Functions 

//Register with firebase and save the user in the database

const register = () => {
  createUserWithEmailAndPassword(auth, email.value, password.value)
    .then((data) => {
      axios
        .post(`${url2}/createuser`, {
          name: name.value,
          email: email.value,
          isAdmin:false,
        })
        .then(function (response) {
          
        });
      
      router.push("/login");
    })
    .catch((error) => {

      switch(error.code){

        case "auth/missing-email":
          errMsg.value="Email empty, write one.";
          break;
        case "auth/weak-password":
          errMsg.value="Password should be at least 6 characters";
        break;
        case "auth/email-already-in-use":
          errMsg.value="This email is already in use, write other";
        break;

      }
    });
};
</script>

<style scoped>

  #cardbody{
    background: rgb(70,255,7);
background: linear-gradient(90deg, rgba(70,255,7,1) 0%, rgba(30,205,32,1) 44%, rgba(1,255,192,1) 100%);
  }

</style>
